In [115]:
import pandas as pd
import pycountry
import matplotlib.pyplot as plt
import numpy as np

In [116]:
df_2015 = pd.read_csv('data/2015.csv')
df_2016 = pd.read_csv('data/2016.csv')
df_2017 = pd.read_csv('data/2017.csv')
df_2018 = pd.read_csv('data/2018.csv')
df_2019 = pd.read_csv('data/2019.csv')

# **Comprobaciones**

## ***2015***

In [117]:
df_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [118]:
df_2015.drop(columns=['Standard Error', 'Dystopia Residual', 'Region'], inplace=True)
df_2015.rename(columns={'Happiness Rank': 'Happiness_Rank',
                        'Happiness Score': 'Happiness_Score',
                        'Economy (GDP per Capita)': 'GDP_per_Capita',
                        'Family': 'Social_Support',
                        'Health (Life Expectancy)': 'Life_Expectancy',
                        'Trust (Government Corruption)': 'Government_Corruption'}, inplace=True)
df_2015 = df_2015[['Happiness_Rank', 'Country', 'Happiness_Score', 'GDP_per_Capita','Social_Support', 'Life_Expectancy', 'Freedom', 'Government_Corruption', 'Generosity']]
df_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Happiness_Rank         158 non-null    int64
 1   Country                158 non-null    object
 2   Happiness_Score        158 non-null    float64
 3   GDP_per_Capita         158 non-null    float64
 4   Social_Support         158 non-null    float64
 5   Life_Expectancy        158 non-null    float64
 6   Freedom                158 non-null    float64
 7   Government_Corruption  158 non-null    float64
 8   Generosity             158 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.2+ KB

In [119]:
df_2015.head()

,Happiness_Rank,Country,Happiness_Score,GDP_per_Capita,Social_Support,Life_Expectancy,Freedom,Government_Corruption,Generosity
0,1,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,2,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,3,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,4,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,5,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

## ***2016***

In [120]:
df_2016.drop(columns=['Region', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Dystopia Residual'], inplace=True)
df_2016.rename(columns={'Happiness Rank': 'Happiness_Rank',
                        'Happiness Score': 'Happiness_Score',
                        'Economy (GDP per Capita)': 'GDP_per_Capita',
                        'Family': 'Social_Support',
                        'Health (Life Expectancy)': 'Life_Expectancy',
                        'Trust (Government Corruption)': 'Government_Corruption'}, inplace=True)
df_2016 = df_2016[['Happiness_Rank', 'Country', 'Happiness_Score', 'GDP_per_Capita','Social_Support', 'Life_Expectancy', 'Freedom', 'Government_Corruption', 'Generosity']]
df_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Happiness_Rank         157 non-null    int64
 1   Country                157 non-null    object
 2   Happiness_Score        157 non-null    float64
 3   GDP_per_Capita         157 non-null    float64
 4   Social_Support         157 non-null    float64
 5   Life_Expectancy        157 non-null    float64
 6   Freedom                157 non-null    float64
 7   Government_Corruption  157 non-null    float64
 8   Generosity             157 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.2+ KB

In [121]:
df_2016.head()

,Happiness_Rank,Country,Happiness_Score,GDP_per_Capita,Social_Support,Life_Expectancy,Freedom,Government_Corruption,Generosity
0,1,Denmark,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,2,Switzerland,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,3,Iceland,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,4,Norway,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,5,Finland,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492

## ***2017***

In [122]:
df_2017.drop(columns=['Whisker.high', 'Whisker.low', 'Dystopia.Residual'], inplace=True)
df_2017.rename(columns={'Happiness.Rank': 'Happiness_Rank',
                        'Happiness.Score': 'Happiness_Score',
                        'Economy..GDP.per.Capita.': 'GDP_per_Capita',
                        'Family': 'Social_Support',
                        'Health..Life.Expectancy.': 'Life_Expectancy',
                        'Trust..Government.Corruption.': 'Government_Corruption'}, inplace=True)
df_2017 = df_2017[['Happiness_Rank', 'Country', 'Happiness_Score', 'GDP_per_Capita','Social_Support', 'Life_Expectancy', 'Freedom', 'Government_Corruption', 'Generosity']]
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Happiness_Rank         155 non-null    int64
 1   Country                155 non-null    object
 2   Happiness_Score        155 non-null    float64
 3   GDP_per_Capita         155 non-null    float64
 4   Social_Support         155 non-null    float64
 5   Life_Expectancy        155 non-null    float64
 6   Freedom                155 non-null    float64
 7   Government_Corruption  155 non-null    float64
 8   Generosity             155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.0+ KB

In [123]:
df_2017.head()

,Happiness_Rank,Country,Happiness_Score,GDP_per_Capita,Social_Support,Life_Expectancy,Freedom,Government_Corruption,Generosity
0,1,Norway,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012
1,2,Denmark,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280
2,3,Iceland,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540
3,4,Switzerland,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549
4,5,Finland,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483

## ***2018***

In [124]:
df_2018.rename(columns={'Overall rank': 'Happiness_Rank',
                        'Country or region': 'Country',
                        'Score': 'Happiness_Score',
                        'GDP per capita': 'GDP_per_Capita',
                        'Social support': 'Social_Support',
                        'Healthy life expectancy': 'Life_Expectancy',
                        'Freedom to make life choices': 'Freedom',
                        'Perceptions of corruption': 'Government_Corruption'}, inplace=True)
df_2018 = df_2018[['Happiness_Rank', 'Country', 'Happiness_Score', 'GDP_per_Capita','Social_Support', 'Life_Expectancy', 'Freedom', 'Government_Corruption', 'Generosity']]
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Happiness_Rank         156 non-null    int64
 1   Country                156 non-null    object
 2   Happiness_Score        156 non-null    float64
 3   GDP_per_Capita         156 non-null    float64
 4   Social_Support         156 non-null    float64
 5   Life_Expectancy        156 non-null    float64
 6   Freedom                156 non-null    float64
 7   Government_Corruption  155 non-null    float64
 8   Generosity             156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [125]:
df_2018.head()

,Happiness_Rank,Country,Happiness_Score,GDP_per_Capita,Social_Support,Life_Expectancy,Freedom,Government_Corruption,Generosity
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.393,0.202
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.340,0.286
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.408,0.284
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.138,0.353
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.357,0.256

## ***2019***

In [126]:
df_2019.rename(columns={'Overall rank': 'Happiness_Rank',
                        'Country or region': 'Country',
                        'Score': 'Happiness_Score',
                        'GDP per capita': 'GDP_per_Capita',
                        'Social support': 'Social_Support',
                        'Healthy life expectancy': 'Life_Expectancy',
                        'Freedom to make life choices': 'Freedom',
                        'Perceptions of corruption': 'Government_Corruption'}, inplace=True)
df_2019 = df_2019[['Happiness_Rank', 'Country', 'Happiness_Score', 'GDP_per_Capita','Social_Support', 'Life_Expectancy', 'Freedom', 'Government_Corruption', 'Generosity']]
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Happiness_Rank         156 non-null    int64
 1   Country                156 non-null    object
 2   Happiness_Score        156 non-null    float64
 3   GDP_per_Capita         156 non-null    float64
 4   Social_Support         156 non-null    float64
 5   Life_Expectancy        156 non-null    float64
 6   Freedom                156 non-null    float64
 7   Government_Corruption  156 non-null    float64
 8   Generosity             156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [127]:
df_2019.head()

,Happiness_Rank,Country,Happiness_Score,GDP_per_Capita,Social_Support,Life_Expectancy,Freedom,Government_Corruption,Generosity
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.393,0.153
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.410,0.252
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.341,0.271
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.118,0.354
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.298,0.322

# **Limpieza**

In [128]:
dfs = {
    2015: df_2015,
    2016: df_2016,
    2017: df_2017,
    2018: df_2018,
    2019: df_2019
}

In [129]:
rename_maps = {
    2015: {
        'Happiness Rank': 'Happiness_Rank',
        'Happiness Score': 'Happiness_Score',
        'Economy (GDP per Capita)': 'GDP_per_Capita',
        'Family': 'Social_Support',
        'Health (Life Expectancy)': 'Life_Expectancy',
        'Trust (Government Corruption)': 'Government_Corruption'
    },
    2016: {
        'Happiness Rank': 'Happiness_Rank',
        'Happiness Score': 'Happiness_Score',
        'Economy (GDP per Capita)': 'GDP_per_Capita',
        'Family': 'Social_Support',
        'Health (Life Expectancy)': 'Life_Expectancy',
        'Trust (Government Corruption)': 'Government_Corruption'
    },
    2017: {
        'Happiness.Rank': 'Happiness_Rank',
        'Happiness.Score': 'Happiness_Score',
        'Economy..GDP.per.Capita.': 'GDP_per_Capita',
        'Family': 'Social_Support',
        'Health..Life.Expectancy.': 'Life_Expectancy',
        'Trust..Government.Corruption.': 'Government_Corruption'
    },
    2018: {
        'Overall rank': 'Happiness_Rank',
        'Country or region': 'Country',
        'Score': 'Happiness_Score',
        'GDP per capita': 'GDP_per_Capita',
        'Social support': 'Social_Support',
        'Healthy life expectancy': 'Life_Expectancy',
        'Freedom to make life choices': 'Freedom',
        'Perceptions of corruption': 'Government_Corruption'
    },
    2019: {
        'Overall rank': 'Happiness_Rank',
        'Country or region': 'Country',
        'Score': 'Happiness_Score',
        'GDP per capita': 'GDP_per_Capita',
        'Social support': 'Social_Support',
        'Healthy life expectancy': 'Life_Expectancy',
        'Freedom to make life choices': 'Freedom',
        'Perceptions of corruption': 'Government_Corruption'
    }
}

In [130]:
final_cols = ['Happiness_Rank', 'Country', 'Happiness_Score', 'GDP_per_Capita',
              'Social_Support', 'Life_Expectancy', 'Freedom', 
              'Government_Corruption', 'Generosity']

In [131]:
drop_cols = {
    2015: ['Standard Error', 'Dystopia Residual', 'Region'],
    2016: ['Region', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Dystopia Residual'],
    2017: ['Whisker.high', 'Whisker.low', 'Dystopia.Residual'],
    2018: [],
    2019: []
}

In [132]:
for year, df in dfs.items():
    df.drop(columns=[c for c in drop_cols[year] if c in df.columns], inplace=True, errors='ignore')
    df.rename(columns=rename_maps[year], inplace=True)
    df = df[[col for col in final_cols if col in df.columns]]
    
    dfs[year] = df

In [133]:
df_2015, df_2016, df_2017, df_2018, df_2019 = dfs.values()

In [134]:
df_2019.head()

,Happiness_Rank,Country,Happiness_Score,GDP_per_Capita,Social_Support,Life_Expectancy,Freedom,Government_Corruption,Generosity
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.393,0.153
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.410,0.252
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.341,0.271
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.118,0.354
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.298,0.322

In [135]:
dfs = {
    2015: df_2015,
    2016: df_2016,
    2017: df_2017,
    2018: df_2018,
    2019: df_2019
}

In [136]:
for year, df in dfs.items():
    df['Year'] = year

In [137]:
df_all = pd.concat(dfs.values(), ignore_index=True)
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Happiness_Rank         782 non-null    int64
 1   Country                782 non-null    object
 2   Happiness_Score        782 non-null    float64
 3   GDP_per_Capita         782 non-null    float64
 4   Social_Support         782 non-null    float64
 5   Life_Expectancy        782 non-null    float64
 6   Freedom                782 non-null    float64
 7   Government_Corruption  781 non-null    float64
 8   Generosity             782 non-null    float64
 9   Year                   782 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 61.2+ KB

In [138]:
nulos = df_all[df_all.isnull().any(axis=1)]
nulos

,Happiness_Rank,Country,Happiness_Score,GDP_per_Capita,Social_Support,Life_Expectancy,Freedom,Government_Corruption,Generosity,Year
489,20,United Arab Emirates,6.774,2.096,0.776,0.67,0.284,NaN,0.186,2018

In [139]:
emiratos = df_all[df_all['Country'] == 'United Arab Emirates']
emiratos

,Happiness_Rank,Country,Happiness_Score,GDP_per_Capita,Social_Support,Life_Expectancy,Freedom,Government_Corruption,Generosity,Year
19,20,United Arab Emirates,6.901,1.427270,1.12575,0.809250,0.641570,0.38583,0.264280,2015
185,28,United Arab Emirates,6.573,1.573520,0.87114,0.729930,0.562150,0.35561,0.265910,2016
335,21,United Arab Emirates,6.648,1.626343,1.26641,0.726798,0.608345,0.32449,0.360942,2017
489,20,United Arab Emirates,6.774,2.096000,0.77600,0.670000,0.284000,NaN,0.186000,2018
646,21,United Arab Emirates,6.825,1.503000,1.31000,0.825000,0.598000,0.18200,0.262000,2019

In [140]:
df_all = df_all.sort_values(by=['Country', 'Year']).reset_index(drop=True)

# Aplicar interpolacin lineal solo dentro de cada pas
df_all['Government_Corruption'] = (
    df_all.groupby('Country', group_keys=False)['Government_Corruption']
          .apply(lambda x: x.interpolate(method='linear', limit_direction='both'))
)

missing = df_all['Government_Corruption'].isna().sum()
print(f"Valores faltantes restantes en Government_Corruption: {missing}")

Valores faltantes restantes en Government_Corruption: 0

In [141]:
emiratos = df_all[df_all['Country'] == 'United Arab Emirates']
emiratos

,Happiness_Rank,Country,Happiness_Score,GDP_per_Capita,Social_Support,Life_Expectancy,Freedom,Government_Corruption,Generosity,Year
732,20,United Arab Emirates,6.901,1.427270,1.12575,0.809250,0.641570,0.385830,0.264280,2015
733,28,United Arab Emirates,6.573,1.573520,0.87114,0.729930,0.562150,0.355610,0.265910,2016
734,21,United Arab Emirates,6.648,1.626343,1.26641,0.726798,0.608345,0.324490,0.360942,2017
735,20,United Arab Emirates,6.774,2.096000,0.77600,0.670000,0.284000,0.253245,0.186000,2018
736,21,United Arab Emirates,6.825,1.503000,1.31000,0.825000,0.598000,0.182000,0.262000,2019

In [142]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Happiness_Rank         782 non-null    int64
 1   Country                782 non-null    object
 2   Happiness_Score        782 non-null    float64
 3   GDP_per_Capita         782 non-null    float64
 4   Social_Support         782 non-null    float64
 5   Life_Expectancy        782 non-null    float64
 6   Freedom                782 non-null    float64
 7   Government_Corruption  782 non-null    float64
 8   Generosity             782 non-null    float64
 9   Year                   782 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 61.2+ KB

In [143]:
def get_country_name(name):
    try:
        # Busca el pas por nombre o por nombre comn
        country = pycountry.countries.lookup(name)
        return country.name
    except LookupError:
        return None  # Pas no reconocido

In [144]:
df_all['Country_Standardized'] = df_all['Country'].apply(get_country_name)

In [145]:
unmatched = df_all[df_all['Country_Standardized'].isna()]['Country'].unique()
print(f"Pases no reconocidos: {len(unmatched)}")
print(unmatched)

Pases no reconocidos: 16
['Congo (Brazzaville)' 'Congo (Kinshasa)' 'Hong Kong S.A.R., China'
 'Ivory Coast' 'Kosovo' 'Macedonia' 'North Cyprus' 'Northern Cyprus'
 'Palestinian Territories' 'Russia' 'Somaliland Region'
 'Somaliland region' 'Swaziland' 'Taiwan Province of China'
 'Trinidad & Tobago' 'Turkey']

In [146]:
manual_fix = {
    "Congo (Brazzaville)": "Republic of the Congo",
    "Congo (Kinshasa)": "Democratic Republic of the Congo",
    "Hong Kong S.A.R., China": "Hong Kong",
    "Ivory Coast": "Cte d'Ivoire",
    "Kosovo": "Republic of Kosovo",
    "Macedonia": "North Macedonia",
    "North Cyprus": "Northern Cyprus",
    "Northern Cyprus": "Northern Cyprus",
    "Palestinian Territories": "Palestine, State of",
    "Russia": "Russian Federation",
    "Somaliland Region": "Somaliland",
    "Somaliland region": "Somaliland",     
    "Swaziland": "Eswatini",
    "Taiwan Province of China": "Taiwan",
    "Trinidad & Tobago": "Trinidad and Tobago",
    "Turkey": "Trkiye"
}

df_all['Country_Standardized'] = (
    df_all['Country_Standardized']
    .fillna(df_all['Country'].map(manual_fix))
)

In [147]:
remaining = df_all[df_all['Country_Standardized'].isna()]['Country'].unique()
print(f"Pases an sin estandarizar: {remaining}")

Pases an sin estandarizar: []

In [148]:
df_all['Country'] = df_all['Country_Standardized']
df_all.drop(columns='Country_Standardized', inplace=True)
df_all.head()

,Happiness_Rank,Country,Happiness_Score,GDP_per_Capita,Social_Support,Life_Expectancy,Freedom,Government_Corruption,Generosity,Year
0,153,Afghanistan,3.575,0.319820,0.302850,0.303350,0.23414,0.097190,0.365100,2015
1,154,Afghanistan,3.360,0.382270,0.110370,0.173440,0.16430,0.071120,0.312680,2016
2,141,Afghanistan,3.794,0.401477,0.581543,0.180747,0.10618,0.061158,0.311871,2017
3,145,Afghanistan,3.632,0.332000,0.537000,0.255000,0.08500,0.036000,0.191000,2018
4,154,Afghanistan,3.203,0.350000,0.517000,0.361000,0.00000,0.025000,0.158000,2019

In [149]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Happiness_Rank         782 non-null    int64
 1   Country                782 non-null    object
 2   Happiness_Score        782 non-null    float64
 3   GDP_per_Capita         782 non-null    float64
 4   Social_Support         782 non-null    float64
 5   Life_Expectancy        782 non-null    float64
 6   Freedom                782 non-null    float64
 7   Government_Corruption  782 non-null    float64
 8   Generosity             782 non-null    float64
 9   Year                   782 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 61.2+ KB

In [150]:
df_all.to_csv('data/processed/happiness_final.csv', index=False)